In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from bs4 import BeautifulSoup
sns.set_style('whitegrid')

# Civilian Deaths

## Fatal Encounters Dataset

Names and descriptive statistics for citizens killed by police. Updated as of 8/2020.<br>
Source: Fatal Encounters, fatalencounters.org

In [2]:
df_fatal = pd.read_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/fatal_encounters_dot_org.csv')
df_fatal_copy = df_fatal.copy()

df_fatal['Date of injury resulting in death (month/day/year)'] = pd.to_datetime(df_fatal['Date of injury resulting in death (month/day/year)'], format = '%m/%d/%Y')
df_fatal = df_fatal.iloc[:-1,:]

df_fatal.head()

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Intentional Use of Force (Developing),Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
0,25746.0,Samuel H. Knapp,17,Male,European-American/White,European-American/White,Not imputed,NaN,2000-01-01,27898-27804 US-101,...,Samuel Knapp was allegedly driving a stolen ve...,Unreported,Pursuit,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,1/1/2000: Samuel Knapp was allegedly driving a...,NaN,25746.0,2000
1,25747.0,Mark A. Horton,21,Male,African-American/Black,African-American/Black,Not imputed,NaN,2000-01-01,Davison Freeway,...,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25747.0,2000
2,25748.0,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,Not imputed,NaN,2000-01-01,Davison Freeway,...,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25748.0,2000
3,25749.0,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,Not imputed,NaN,2000-01-01,600 W Cherry Ln,...,A motorcycle was allegedly being driven errati...,Unreported,Pursuit,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,1/1/2000: A motorcycle was allegedly being dri...,NaN,25749.0,2000
4,1.0,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,Not imputed,NaN,2000-01-02,5700 block Mack Road,...,LaTanya Janelle McCoy's car was struck from be...,Unknown,Pursuit,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,1/2/2000: LaTanya Janelle McCoy's car was stru...,NaN,1.0,2000

In [3]:
df_fatal.columns

Index(['Unique ID', 'Subject's name', 'Subject's age', 'Subject's gender',
       'Subject's race', 'Subject's race with imputations',
       'Imputation probability', 'URL of image of deceased',
       'Date of injury resulting in death (month/day/year)',
       'Location of injury (address)', 'Location of death (city)',
       'Location of death (state)', 'Location of death (zip code)',
       'Location of death (county)', 'Full Address', 'Latitude', 'Longitude',
       'Agency responsible for death', 'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS',
       'Intentional Use of Force (Developing)',
       'Link to news article or photo of official document',
       'Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS', 'Video',
       'Date&Description', 'Unique ID formula',
       'Unique identifier (redundant)', 'Date (Year)'],
      dtype='object')

In [3]:
fatal_features = ["Subject's name", 
                  "Subject's age", 
                  "Subject's gender", 
                  "Subject's race", 
                  "Date of injury resulting in death (month/day/year)",
                  'Location of injury (address)', 
                  'Location of death (city)',
                  'Location of death (state)', 
                  'Location of death (zip code)',
                  'Location of death (county)',
                  'Latitude', 
                  'Longitude',
                  'Agency responsible for death',
                  'Cause of death',
                  'Intentional Use of Force (Developing)',
                  "Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",
                  'Date (Year)',
                  'A brief description of the circumstances surrounding the death',
                  'Unique ID']

fatal_features_renamed = ['civilians_name',
                          'civilians_age',
                          'civilians_gender',
                          'civilians_race',
                          'date',
                          'address',
                          'city',
                          'state',
                          'zip_code',
                          'county',
                          'latitude',
                          'longitude',
                          'agency',
                          'cause_of_death',
                          'use_of_force',
                          'mental_illness',
                          'year',
                          'description',
                          'fatal_id']

renaming_fatal = {}
for i in range(0, len(fatal_features)):
    renaming_fatal[fatal_features[i]] = fatal_features_renamed[i]
    
df_fatal = df_fatal.rename(columns = renaming_fatal)
df_fatal = df_fatal[fatal_features_renamed]
df_fatal['source']= 'fatal'

In [4]:
print(df_fatal.shape)
df_fatal.head()

(28621, 20)

,civilians_name,civilians_age,civilians_gender,civilians_race,date,address,city,state,zip_code,county,latitude,longitude,agency,cause_of_death,use_of_force,mental_illness,year,description,fatal_id,source
0,Samuel H. Knapp,17,Male,European-American/White,2000-01-01,27898-27804 US-101,Willits,CA,95490.0,Mendocino,39.470883,-123.361751,Mendocino County Sheriff's Office,Vehicle,Pursuit,No,2000,Samuel Knapp was allegedly driving a stolen ve...,25746.0,fatal
1,Mark A. Horton,21,Male,African-American/Black,2000-01-01,Davison Freeway,Detroit,MI,48203.0,Wayne,42.404526,-83.092274,NaN,Vehicle,Pursuit,No,2000,Two Detroit men killed when their car crashed ...,25747.0,fatal
2,Phillip A. Blurbridge,19,Male,African-American/Black,2000-01-01,Davison Freeway,Detroit,MI,48203.0,Wayne,42.404526,-83.092274,NaN,Vehicle,Pursuit,No,2000,Two Detroit men killed when their car crashed ...,25748.0,fatal
3,Mark Ortiz,23,Male,Hispanic/Latino,2000-01-01,600 W Cherry Ln,Carlsbad,NM,88220.0,Eddy,32.450080,-104.237643,Eddy County Sheriff's Office,Vehicle,Pursuit,No,2000,A motorcycle was allegedly being driven errati...,25749.0,fatal
4,LaTanya Janelle McCoy,24,Female,African-American/Black,2000-01-02,5700 block Mack Road,Sacramento,CA,95823.0,Sacramento,38.473949,-121.433776,Sacramento Police Department,Vehicle,Pursuit,No,2000,LaTanya Janelle McCoy's car was struck from be...,1.0,fatal

## Police Killings Mapping Police Violence

Victim data by name.<br>
Source: Mapping Police Violence, https://mappingpoliceviolence.org/aboutthedata

In [5]:
df_policeMPV = pd.read_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/police_killings_MPV.csv', parse_dates=['Date of Incident (month/day/year)'],)
df_policeMPV_copy = df_policeMPV.copy()

print(df_policeMPV.shape)
df_policeMPV.head()

(8427, 68)

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,Name withheld by police,Unknown,Male,Unknown race,NaN,2020-06-09,337 Garrison Place,Virginia Beach,VA,23452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,Unknown,Male,Unknown race,NaN,2020-05-09,4900 South Lavergne Avenue,Chicago,IL,60638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Name withheld by police,61,Male,Unknown race,NaN,2020-05-09,2118 Fredericksburg Rd,San Antonio,TX,78201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,22,Male,Unknown race,NaN,2020-05-09,2500 Logistics Drive,Battle Creek,MI,49037.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Steven D. Smith,33,Male,Unknown race,NaN,2020-04-09,200 N. State Street,Syracuse,NY,13203.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_policeMPV.columns

Index(['Victim's name', 'Victim's age', 'Victim's gender', 'Victim's race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City', 'State', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed/Did Not Have an Actual Weapon',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67'],
      dtype='object')

In [7]:
MPV_features = ["Victim's name", 
                "Victim's age", 
                "Victim's gender",
                "Victim's race",
                "Date of Incident (month/day/year)",
                "Street Address of Incident",
                "City",
                "State", 
                "Zipcode",
                "County",
                "Agency responsible for death",
                "Cause of death",
                "Symptoms of mental illness?",
                'A brief description of the circumstances surrounding the death',
                'WaPo ID (If included in WaPo database)',
                'MPV ID',
                'Fatal Encounters ID',
                'Alleged Threat Level (Source: WaPo)',
                'Fleeing (Source: WaPo)',
                'Body Camera (Source: WaPo)',
                'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
                'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
                'Criminal Charges?',
                'Off-Duty Killing?'
               ]

MPV_features_rename = ['civilians_name',
                       'civilians_age',
                       'civilians_gender',
                       'civilians_race',
                       'date',
                       'address',
                       'city',
                       'state',
                       'zip_code',
                       'county',
                       'agency',
                       'cause_of_death',
                       'mental_illness',
                       'description',
                       'wash_id',
                       'mpv_id',
                       'fatal_id',
                       'threat_level',
                       'fleeing',
                       'body_cam',
                       'alleged_weapon',
                       'geography',
                       'criminal_charges',
                       'off_duty'
                      ]

renaming_MPV = {}
for i in range(0, len(MPV_features)):
    renaming_MPV[MPV_features[i]] = MPV_features_rename[i]
    
df_policeMPV = df_policeMPV.rename(columns = renaming_MPV)
df_policeMPV = df_policeMPV[MPV_features_rename]
df_policeMPV['source'] = 'mpv'

In [8]:
print(df_policeMPV.shape)
df_policeMPV.head()

(8427, 25)

,civilians_name,civilians_age,civilians_gender,civilians_race,date,address,city,state,zip_code,county,...,mpv_id,fatal_id,threat_level,fleeing,body_cam,alleged_weapon,geography,criminal_charges,off_duty,source
0,Name withheld by police,Unknown,Male,Unknown race,2020-06-09,337 Garrison Place,Virginia Beach,VA,23452.0,Virginia Beach City,...,8448,28737.0,attack,Not fleeing,NaN,knife,NaN,No known charges,NaN,mpv
1,Name withheld by police,Unknown,Male,Unknown race,2020-05-09,4900 South Lavergne Avenue,Chicago,IL,60638.0,Cook,...,8446,28734.0,attack,Not fleeing,NaN,knife,NaN,No known charges,NaN,mpv
2,Name withheld by police,61,Male,Unknown race,2020-05-09,2118 Fredericksburg Rd,San Antonio,TX,78201.0,Bexar,...,8447,28735.0,attack,Not fleeing,NaN,knife,NaN,No known charges,off-duty,mpv
3,Name withheld by police,22,Male,Unknown race,2020-05-09,2500 Logistics Drive,Battle Creek,MI,49037.0,Calhoun,...,8449,28736.0,attack,Car,NaN,vehicle,NaN,No known charges,NaN,mpv
4,Steven D. Smith,33,Male,Unknown race,2020-04-09,200 N. State Street,Syracuse,NY,13203.0,Onondaga,...,8444,28726.0,NaN,NaN,NaN,gun,NaN,No known charges,NaN,mpv

## Shootings Washington Post

Names and data for citizens fatally shot by police. Updated as of 8/2020.<br>
Source: The Washington Post, https://github.com/washingtonpost/data-police-shootings

In [4]:
df_wash = pd.read_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/shootings_wash_post.csv')
df_wash_copy = df_wash.copy()

df_wash.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [5]:
df_wash.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

In [10]:
Wash_features = ['name',
                 'age',
                 'gender',
                 'race',
                 'date',
                 'city',
                 'state',
                 'manner_of_death',
                 'signs_of_mental_illness',
                 'id',
                 'armed',
                 'flee',
                 'body_camera',
                 'threat_level'
                ]

Wash_features_rename = ['civilians_name',
                       'civilians_age',
                       'civilians_gender',
                       'civilians_race',
                       'date',
                       'city',
                       'state',
                       'cause_of_death',
                       'mental_illness',
                       'wash_id',
                       'alleged_weapon',
                       'fleeing',
                       'body_cam',
                       'threat_level'
                      ]


renaming_Wash = {}
for i in range(0, len(Wash_features)):
    renaming_Wash[Wash_features[i]] = Wash_features_rename[i]
    
df_wash = df_wash.rename(columns = renaming_Wash)
df_wash = df_wash[Wash_features_rename]
df_wash['source'] = 'wash'

In [11]:
print(df_fatal.columns & df_wash.columns)
print(df_wash.columns & df_policeMPV.columns)
print(df_fatal.columns & df_policeMPV.columns)

Index(['civilians_name', 'civilians_age', 'civilians_gender', 'civilians_race',
       'date', 'city', 'state', 'cause_of_death', 'mental_illness', 'source'],
      dtype='object')
Index(['civilians_name', 'civilians_age', 'civilians_gender', 'civilians_race',
       'date', 'city', 'state', 'cause_of_death', 'mental_illness', 'wash_id',
       'alleged_weapon', 'fleeing', 'body_cam', 'threat_level', 'source'],
      dtype='object')
Index(['civilians_name', 'civilians_age', 'civilians_gender', 'civilians_race',
       'date', 'address', 'city', 'state', 'zip_code', 'county', 'agency',
       'cause_of_death', 'mental_illness', 'description', 'fatal_id',
       'source'],
      dtype='object')

## Concatenating Fatal and Mapping Police Violence Datasets

In [12]:
df_fatal_MPV = pd.concat([df_fatal, df_policeMPV])
df_fatal_MPV = df_fatal_MPV.drop_duplicates(subset='fatal_id').reset_index(drop=True)

In [13]:
print(df_fatal.shape)
print(df_policeMPV.shape)
print(df_fatal_MPV.shape)
df_fatal_MPV.head()

(28621, 20)
(8427, 25)
(28655, 29)

,civilians_name,civilians_age,civilians_gender,civilians_race,date,address,city,state,zip_code,county,...,source,wash_id,mpv_id,threat_level,fleeing,body_cam,alleged_weapon,geography,criminal_charges,off_duty
0,Samuel H. Knapp,17,Male,European-American/White,2000-01-01,27898-27804 US-101,Willits,CA,95490.0,Mendocino,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mark A. Horton,21,Male,African-American/Black,2000-01-01,Davison Freeway,Detroit,MI,48203.0,Wayne,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Phillip A. Blurbridge,19,Male,African-American/Black,2000-01-01,Davison Freeway,Detroit,MI,48203.0,Wayne,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mark Ortiz,23,Male,Hispanic/Latino,2000-01-01,600 W Cherry Ln,Carlsbad,NM,88220.0,Eddy,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LaTanya Janelle McCoy,24,Female,African-American/Black,2000-01-02,5700 block Mack Road,Sacramento,CA,95823.0,Sacramento,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Concatenating Mapping Police Violence and Washington Post

In [14]:
df_MPV_wash = pd.concat([df_policeMPV,df_wash])
df_MPV_wash = df_MPV_wash.drop_duplicates(subset='wash_id').reset_index(drop=True)

In [15]:
print(df_policeMPV.shape)
print(df_wash.shape)
print(df_MPV_wash.shape)
df_MPV_wash.head()

(8427, 25)
(5552, 15)
(5599, 25)

,civilians_name,civilians_age,civilians_gender,civilians_race,date,address,city,state,zip_code,county,...,mpv_id,fatal_id,threat_level,fleeing,body_cam,alleged_weapon,geography,criminal_charges,off_duty,source
0,Name withheld by police,Unknown,Male,Unknown race,2020-06-09 00:00:00,337 Garrison Place,Virginia Beach,VA,23452.0,Virginia Beach City,...,8448.0,28737.0,attack,Not fleeing,NaN,knife,NaN,No known charges,NaN,mpv
1,Arthur Zalman Ferrel,58,Male,Unknown race,2020-08-31 00:00:00,184 Pennwood Street,Meridian,ID,83642.0,Ada,...,8435.0,28707.0,attack,Not fleeing,Yes,gun,NaN,No known charges,NaN,mpv
2,Marco Antonio Benito,36,Male,Hispanic,2020-08-31 00:00:00,Rd 3100 & Rd 3177,Aztec,NM,87410.0,San Juan,...,8436.0,28709.0,other,Other,Yes,undetermined,NaN,No known charges,NaN,mpv
3,Dijon Kizzee,29,Male,Black,2020-08-31 00:00:00,West 109th Place and South Budlong Avenue,Westmont,CA,90044.0,Los Angeles,...,8437.0,28710.0,attack,Foot,No,undetermined,NaN,No known charges,NaN,mpv
4,Nikolas Frazier,26,Male,White,2020-08-30 00:00:00,1185 Herndon Ave,Clovis,CA,93612.0,Fresno,...,8433.0,28701.0,attack,Not fleeing,Yes,toy weapon,Suburban,No known charges,NaN,mpv

## Concatenating Fatal Mapping Police Violence and Washington Post Datasets

In [16]:
df_fatal_MPV_wash = pd.concat([df_fatal_MPV,df_MPV_wash]).reset_index(drop=True)
duplicated_val = df_fatal_MPV_wash[(df_fatal_MPV_wash['civilians_name']=='Name withheld by police') | 
                                   (df_fatal_MPV_wash['civilians_name']=='TK TK')]

### Cleaning Age column

In [17]:
age_values = ['20s',
              '60s',
              '18-25',
              '18 months',
              '46/53',
              '3 months',
              '40s',
              '30s',
              '50s',
              '6 months',
              '9 months',
              '10 months',
              '2 months',
              '7 months',
              '8 months',
              '3 days',
              '55.',
              '20s-30s',
              '40-50',
              '4 months',
              '70s',
              'Unknown']

renaming_age_values = [25,
                       65,
                       21,
                       1,
                       50,
                       1,
                       40,
                       30,
                       50,
                       1,
                       1,
                       1,
                       1,
                       1,
                       1,
                       1,
                       55,
                       25,
                       48,
                       1,
                       70,
                       np.nan]
renaming_df_cleaned = {}
for i in range(0, len(age_values)):
    renaming_df_cleaned[age_values[i]] = renaming_age_values[i]
    
df_fatal_MPV_wash.civilians_age = df_fatal_MPV_wash.civilians_age.replace(to_replace=renaming_df_cleaned)
duplicated_val.civilians_age = df_fatal_MPV_wash.civilians_age.replace(to_replace=renaming_df_cleaned)
df_fatal_MPV_wash.civilians_age = pd.to_numeric(df_fatal_MPV_wash.civilians_age)
duplicated_val.civilians_age = pd.to_numeric(duplicated_val.civilians_age)

In [18]:
df_fatal_MPV_wash = df_fatal_MPV_wash.drop(labels=duplicated_val.index)
df_fatal_MPV_wash = df_fatal_MPV_wash.drop_duplicates(['civilians_name','civilians_age'])
df_fatal_MPV_wash = pd.concat([df_fatal_MPV_wash,duplicated_val]).reset_index(drop=True)

## Data Cleaning df_fatal_MPV_wash

In [19]:
df_fatal_MPV_wash.head()

,civilians_name,civilians_age,civilians_gender,civilians_race,date,address,city,state,zip_code,county,...,source,wash_id,mpv_id,threat_level,fleeing,body_cam,alleged_weapon,geography,criminal_charges,off_duty
0,Samuel H. Knapp,17.0,Male,European-American/White,2000-01-01 00:00:00,27898-27804 US-101,Willits,CA,95490.0,Mendocino,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mark A. Horton,21.0,Male,African-American/Black,2000-01-01 00:00:00,Davison Freeway,Detroit,MI,48203.0,Wayne,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Phillip A. Blurbridge,19.0,Male,African-American/Black,2000-01-01 00:00:00,Davison Freeway,Detroit,MI,48203.0,Wayne,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mark Ortiz,23.0,Male,Hispanic/Latino,2000-01-01 00:00:00,600 W Cherry Ln,Carlsbad,NM,88220.0,Eddy,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LaTanya Janelle McCoy,24.0,Female,African-American/Black,2000-01-02 00:00:00,5700 block Mack Road,Sacramento,CA,95823.0,Sacramento,...,fatal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning Cause of Death column

In [20]:
causes = ['Beaten/Bludgeoned with instrument',
          'shot',
          'Gunshot, Taser',
          'Gunshot, Police Dog',
          'Gunshot, Taser, Beanbag Shotgun',
          'shot and Tasered',
          'Gunshot, Pepper Spray'
          ]

renaming_cause = ['Beaten',
                  'Gunshot',
                  'Gunshot',
                  'Gunshot',
                  'Gunshot',
                  'Gunshot',
                  'Gunshot',
                  ]

renaming_df_cleaned = {}
for i in range(0, len(causes)):
    renaming_df_cleaned[causes[i]] = renaming_cause[i]
    
df_fatal_MPV_wash.cause_of_death = df_fatal_MPV_wash.cause_of_death.replace(to_replace=renaming_df_cleaned)

### Cleaning race columns

In [21]:
race_values = ['Race unspecified',
               'White',
               'Black',
               'Hispanic',
               'Native American',
               'Asian',
               'Pacific Islander',
               'A',
               'W',
               'H',
               'B',
               'O',
               'N',
               'Unknown race',
               'Middle Eastern']

renaming_races_values = [np.nan,
                        'European-American/White',
                        'African-American/Black',
                        'Hispanic/Latino',
                        'Native American/Alaskan',
                        'Asian/Pacific Islander',
                        'Asian/Pacific Islander',
                        'Asian/Pacific Islander',
                        'European-American/White',
                        'Hispanic/Latino',
                        'African-American/Black',
                        'Other',
                        'Native American/Alaskan',
                        np.nan,
                        'Asian/Pacific Islander']
renaming_df_cleaned = {}
for i in range(0, len(race_values)):
    renaming_df_cleaned[race_values[i]] = renaming_races_values[i]
    
df_fatal_MPV_wash.civilians_race = df_fatal_MPV_wash.civilians_race.replace(to_replace=renaming_df_cleaned)

### Cleaning Gender column

In [22]:
gender_values = ['Unknown',
                 'M',
                 'F']
renaming_gender = [np.nan,
                 'Male',
                 'Female']
renaming_df_cleaned = {}

for i in range(0, len(gender_values)):
    renaming_df_cleaned[gender_values[i]] = renaming_gender[i]
    
df_fatal_MPV_wash.civilians_gender = df_fatal_MPV_wash.civilians_gender.replace(to_replace=renaming_df_cleaned)

### Cleaning mental illness column

In [23]:
mental_values = ['Unknown',
                 'Unkown',
                 'unknown',
                 True,
                 False]

renaming_mental = [np.nan,
                   np.nan,
                   np.nan,
                   'Yes',
                   'No']
renaming_df_cleaned = {}

for i in range(0, len(mental_values)):
    renaming_df_cleaned[mental_values[i]] = renaming_mental[i]
    
df_fatal_MPV_wash.mental_illness = df_fatal_MPV_wash.mental_illness.replace(to_replace=renaming_df_cleaned)

### Cleaning body cam column

In [24]:
body_values = ['no',
                False]

renaming_body = ['No',
                 'No']
renaming_df_cleaned = {}

for i in range(0, len(body_values)):
    renaming_df_cleaned[body_values[i]] = renaming_body[i]
    
df_fatal_MPV_wash.body_cam = df_fatal_MPV_wash.body_cam.replace(to_replace=renaming_df_cleaned)

### Cleaning Fleeing columns

In [25]:
flee_values = ['not fleeing',
               'car']

renaming_flee = ['Not fleeing',
                 'Car']
renaming_df_cleaned = {}

for i in range(0, len(flee_values)):
    renaming_df_cleaned[flee_values[i]] = renaming_flee[i]
    
df_fatal_MPV_wash.fleeing = df_fatal_MPV_wash.fleeing.replace(to_replace=renaming_df_cleaned)

### Cleaning Use of Force columns

In [26]:
force_values = ['Vehicle/Pursuit',
               'Np',
               'Undetermined',
               'Unknown',
               'Intentional use of deadly force']

renaming_force = ['Pursuit',
                 np.nan,
                 np.nan,
                 np.nan,
                 'Intentional use of force']
renaming_df_cleaned = {}

for i in range(0, len(force_values)):
    renaming_df_cleaned[force_values[i]] = renaming_force[i]
    
df_fatal_MPV_wash.use_of_force = df_fatal_MPV_wash.use_of_force.replace(to_replace=renaming_df_cleaned)

### Cleaning Alleged Weapon column

In [27]:
alleged_values = ['no object',
               'Ax',
               'carjack',
               'metal stick',
               'metal pipe',
               'metal pole'
               'Taser']

renaming_alleged = ['unarmed',
                 'ax',
                 'vehicle',
                 'metal object',
                 'metal object',
                 'metal object',
                 'taser']

renaming_df_cleaned = {}

for i in range(0, len(alleged_values)):
    renaming_df_cleaned[alleged_values[i]] = renaming_alleged[i]
    
df_fatal_MPV_wash.alleged_weapon = df_fatal_MPV_wash.alleged_weapon.replace(to_replace=renaming_df_cleaned)

### Cleaning Off Duty

In [ ]:
off_values = ['Off-Duty']

renaming_off = ['off-duty']

renaming_df_cleaned = {}

for i in range(0, len(off_values)):
    renaming_df_cleaned[off_values[i]] = renaming_off[i]
    
df_fatal_MPV_wash.off_duty = df_fatal_MPV_wash.off_duty.replace(to_replace=renaming_df_cleaned)

## Adding columns of interest

In [28]:
df_fatal_MPV_wash['date'] =  pd.to_datetime(df_fatal_MPV_wash['date'])

df_fatal_MPV_wash['year'] = df_fatal_MPV_wash.date.dt.to_period('Y')
df_fatal_MPV_wash['month'] = df_fatal_MPV_wash.date.dt.to_period('M')
df_fatal_MPV_wash['day_of_week'] = pd.to_datetime(df_fatal_MPV_wash['date']).dt.day_name() 
df_fatal_MPV_wash['civilians_age_group'] = pd.cut(df_fatal_MPV_wash.civilians_age, [0, 20, 40, 60, 80])

df_fatal_MPV_wash['year']=df_fatal_MPV_wash['year'].astype(str).astype(int)

In [29]:
df_fatal_MPV_wash.columns

Index(['civilians_name', 'civilians_age', 'civilians_gender', 'civilians_race',
       'date', 'address', 'city', 'state', 'zip_code', 'county', 'latitude',
       'longitude', 'agency', 'cause_of_death', 'use_of_force',
       'mental_illness', 'year', 'description', 'fatal_id', 'source',
       'wash_id', 'mpv_id', 'threat_level', 'fleeing', 'body_cam',
       'alleged_weapon', 'geography', 'criminal_charges', 'off_duty', 'month',
       'day_of_week', 'civilians_age_group'],
      dtype='object')

In [36]:
df_fatal_MPV_wash.to_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/master_df.csv')

# Police Deaths

## Police Deaths Officer Memorial Database

In [3]:
df_omdb = pd.read_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/police_omdb.csv')

df_omdb_copy = df_omdb.copy()

df_omdb.head()

,police_name,dept,state,cause,month_day,year,day_of_week,K9
0,Deputy Sheriff Ernest Martin Hull,Greene County Sheriff's Office,NC,Automobile crash,January 2,2000,Sunday,False
1,Patrol Officer James Clinton Bryant,Broxton Police Department,GA,Gunfire,January 3,2000,Monday,False
2,"Staff Sergeant Clyde Almond ""Tub"" Merritt",Coffee County Sheriff's Office,GA,Gunfire,January 3,2000,Monday,False
3,Inspector Kirk B. Brookbush,San Francisco Police Department,CA,Aircraft accident,January 11,2000,Tuesday,False
4,Police Officer James Francis Dougherty,San Francisco Police Department,CA,Aircraft accident,January 11,2000,Tuesday,False

In [4]:
df_omdb.shape

(3456, 8)

In [7]:
df_omdb.state = df_omdb.state.replace('Tobacco', 'US')
df_omdb.state = df_omdb.state.replace('Fisheries and Parks', 'US')

In [5]:
df_omdb.state = df_omdb.state.replace('RR','CA')
df_omdb.state = df_omdb.state.replace('Parks','KS')

In [22]:
df_omdb = df_omdb.drop('Unnamed: 0', axis=1)

In [23]:
df_omdb['K9'] = df_omdb.police_name.str.contains('K9')

df_omdb = df_omdb[~df_omdb.cause.str.contains('COVID19' or '9/11 related cancer')]
df_omdb = df_omdb[df_omdb['K9'] == False]
df_omdb = df_omdb[~df_omdb.cause.str.contains('Terrorist attack')]

df_omdb = df_omdb.reset_index(drop=True)

In [6]:
df_omdb

,police_name,dept,state,cause,month_day,year,day_of_week,K9
0,Deputy Sheriff Ernest Martin Hull,Greene County Sheriff's Office,NC,Automobile crash,January 2,2000,Sunday,False
1,Patrol Officer James Clinton Bryant,Broxton Police Department,GA,Gunfire,January 3,2000,Monday,False
2,"Staff Sergeant Clyde Almond ""Tub"" Merritt",Coffee County Sheriff's Office,GA,Gunfire,January 3,2000,Monday,False
3,Inspector Kirk B. Brookbush,San Francisco Police Department,CA,Aircraft accident,January 11,2000,Tuesday,False
4,Police Officer James Francis Dougherty,San Francisco Police Department,CA,Aircraft accident,January 11,2000,Tuesday,False
...,...,...,...,...,...,...,...,...
3451,Patrolman Cassie Marie Johnson,Charleston Police Department,WV,Gunfire,December 3,2020,Thursday,False
3452,Sergeant Herschel Turner,Moline Acres Police Department,MO,Struck by vehicle,December 5,2020,Saturday,False
3453,Trooper Jennifer M. Czarnecki,New York State Police,NY,9/11 related cancer,December 5,2020,Saturday,False
3454,Police Officer Tyler Avery Herndon,Mount Holly Police Department,NC,Gunfire,December 11,2020,Friday,False
3455,Police Officer Jason Shuping,Concord Police Department,NC,Gunfire,December 16,2020,Wednesday,False

In [7]:
df_omdb.to_csv('C:/Users/Johnny/Documents/Classes/DS4A/Project/Datasets/police_omdb.csv',index=False)